.header__section {
    background-color: #27AAE2;

}

.header__title {
    font-family: 'HK Grotesk';
    /* font-family: 'Space Grotesk', sans-serif; */
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 78px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    /* or 143% */
    color: #ECEDEF;

    opacity: 0.85;
}

.scroll__top {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 30px;
    text-transform: uppercase;
    color: #0A9B58;
}

.card__img1 {
    
    background: url('../../assets/slider/img2.png');
    width: 200px; 
    height: 200px;
    position: relative;
    background-size: cover;
}
.card__img1::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 200px; 
    background: #FE0652;
    opacity: 0.5;
}

.card__img2 {
    background: url('../../assets/slider/img9.png');
    width: 200px;
    height: 200px;
    background-size: cover;
}
.card__img2::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 200px; 
    background: #0A9B58;
    opacity: 0.5;
}


.card__img3 {
    background: url('../../assets/slider/img5.png');
    width: 200px;
    height: 200px;
    background-size: cover;
}
.card__img3::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 200px; 
    background: #f88913;
    opacity: 0.5;
}
.card__img4 {
    background: url('../../assets/slider/img6.png');
    width: 200px;
    height: 200px;
    background-size: cover;
}
.card__img4::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 200px; 
    background: #27AAE2;
    opacity: 0.5;
}

.card__img5 {
    background: url('../../assets/slider/img9.png');
    width: 200px;
    height: 200px;
    background-size: cover;
}
.card__img5::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 200px; 
    background: #F88913;
    opacity: 0.5;
}

.card__img6 {
    background: url('../../assets/slider/img1.png');
    width: 200px;
    height: 200px;
    background-size: cover;
}
.card__img6::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 200px; 
    background: #FE0652;
    opacity: 0.5;
}

.card__img7 {
    background: url('../../assets/slider/img8.png');
  
    width: 200px;
    height: 200px;
    background-size: cover;
}
.card__img7::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 200px; 
    background: #0A9B58;
    opacity: 0.5;
}

.card__img8 {
    background: url('../../assets/slider/img4.png');
    width: 200px;
    height: 200px;
    background-size: cover;
}
.card__img8::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 200px; 
    background: #27AAE2;
    opacity: 0.5;
}

.card__img9 {
    
    background: url('../../assets/slider/img7.png');
    width: 200px;
    height: 200px;
    background-size: cover;
}
.card__img9::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 200px; 
    background: #F88913;
    opacity: 0.5;
}
