.header__section {
    background-color: #27AAE2;
    margin-bottom: 100px;

}

.header__container {
    margin-left: 320px;

}

.header__section .slick-dots {
    bottom: 22px !important;

}

.header__title {
    font-family: 'hk_groteskbold';
    /* font-family: 'Space Grotesk', sans-serif; */
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 78px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 75px;
}

.header__text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    color: #ECEDEF;
    opacity: 0.85;
}

.scroll__top {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 30px;
    text-transform: uppercase;
    color: #0A9B58;
}

.card__img1 {

    background: url('../../assets/slider/img2.png');
}

.card__img1::before {

    background: #FE0652;

}

.card__img2 {
    background: url('../../assets/slider/img9.png');

}

.card__img2::before {

    background: #0A9B58;

}


.card__img3 {
    background: url('../../assets/slider/img5.png');

}

.card__img3::before {

    background: #f88913;

}

.card__img4 {
    background: url('../../assets/slider/img6.png');

}

.card__img4::before {

    background: #27AAE2;

}

.card__img5 {
    background: url('../../assets/slider/img9.png');

}

.card__img5::before {

    background: #F88913;

}

.card__img6 {
    background: url('../../assets/slider/img1.png');

}

.card__img6::before {

    background: #FE0652;

}

.card__img7 {
    background: url('../../assets/slider/img8.png');
}

.card__img7::before {

    background: #0A9B58;

}

.card__img8 {
    background: url('../../assets/slider/img4.png');

}

.card__img8::before {

    background: #27AAE2;

}

.card__img9 {
    background: url('../../assets/slider/img7.png');
}

.card__img9::before {
    background: #F88913;
}

@media screen and (min-width: 992px) {
    .header__title {
        font-family: 'hk_groteskbold';
        font-style: normal;
        font-size: 41px;
        line-height: 49px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 75px;
    }

    .header__text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #ECEDEF;
        opacity: 0.85;
    }
}

@media screen and (min-width: 1400px) {
    .header__title {
        font-family: 'hk_groteskbold';
        font-style: normal;
        font-weight: 900;
        font-size: 70px;
        line-height: 78px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 75px;
    }
    .header__text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 30px;
        color: #ECEDEF;
        opacity: 0.85;
    }
}