@font-face {
  font-family: 'hk_groteskbold';
  src: url('/src//assets//webfonts/hkgrotesk-bold-webfont.woff') format('woff'),
    url('/src//assets//webfonts/hkgrotesk-bold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}


body {
  margin: 0;
  font-family: 'hk_groteskbold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn__text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 14px 16px;
  border: none;
  outline: none;
}

.common__dot {
  background: #0A9B58;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.service__margin {
  margin-bottom: 151px;
}

.service__name {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 46px;
  display: flex;
  align-items: center;
  text-transform: uppercase;


}

.service__title {
  font-family: 'hk_groteskbold';
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #1B224A;
}

.service__text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 31px;
  padding-right: 10px;
  color: #494B59;
}

.header__slick__dots {
  position: absolute;
  bottom: 17px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;

}

.header__slick__dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 0px;
  padding: 0;
  cursor: pointer;
}

.header__slick__dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.header__slick__dots li button:before {
  font-family: 'slick';
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: 0.7;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header__slick__dots li.slick-active button:before {
  opacity: .75;
  color: #0A9B58;
}

.client__slider__dot {
  position: absolute;
  bottom: 17px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
  top: -60px;
  left: -31px;
}

.client__slider__dot li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 0px;
  padding: 0;
  cursor: pointer;
  margin: 4px;
}

.client__slider__dot li button {
  font-size: 16px;
  line-height: 0;
  display: block;
  width: 22px;
  height: 22px;
  padding: 5px;
  cursor: pointer;
  /* color: transparent; */
  border: 0;
  /* outline: none; */
  background: #27AAE2;
  border-radius: 50%;
  color: white;
  padding: 7px;

}

@media screen and (max-width: 990px) {
  .client__slider{
    margin-top: 40px;
  }
  .client__slider__dot {
    top: -17px;
    left: -2px;
  }
}
.pb-12{
  padding-bottom: 12rem !important;
}